*,
::before,
::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
h1 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 2.5rem;
}

html {
  max-height: 999999px;
  outline: none;
}
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  line-height: 1.5;
}
body {
  font-family: PT Sans Caption;
}
.button{
    text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  list-style: none;
  vertical-align: baseline;
}

.uppercase {
  font-weight: bold;
  text-transform: uppercase;
}
button,
input {
  overflow: visible;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.3;
  margin: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

.checkbox {
  color: #cbcbcb;
  text-align: center !important;
}
a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}
p {
  margin: 1rem 0;
}
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  color: #fff;
  background-color: #000;
  padding: 1.25rem 0;
}
.header__container {
  height: 100%;
  position: relative;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  z-index: 1;
}

.row-container {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
.header__column {
}
.header__logo {
  max-height: 3rem;
  margin: 0 auto 0 0;
  width: 16rem;
}

.header__contacts {
}
.column-contacts {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 1rem;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  display: block !important;
}
.column-button {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.contacts-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
}
.contacts-header__column {
  display: flex;
  flex-wrap: nowrap;
}
.header__column {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 1rem;
}
.contacts-header__item_phone {
  margin: 1rem 0 1rem 5rem;
}
.navi {
  display: flex;
  min-width: max-content;
}
.navi:before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1.25rem;
  background-image: url(..//img/navi.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0.25rem 0.5rem 0 0;
  vertical-align: text-bottom;
}
.contacts-header__phone {
  text-align: right;
  min-width: max-content;
}
.button-header {
  border: 1px solid #bf9037;
  padding: 0.55rem 0.5rem;
  border-radius: 1.7rem;
  text-align: center;
  min-width: max-content;
}

a,
a:focus,
a:active {
  color: #bf9037;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

a.type:before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1.25rem;
  background-image: url(..//img/tel.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0.25rem 0.5rem 0 0;
  vertical-align: text-bottom;
  line-height: 25px;
}

.lading {
  display: flex;
}

section {
  position: relative;
  padding: 3rem 0;
}
.landing section {
  padding: 5rem 0;
}
.offer {
  background-image: url("/img/offer1.jpg");
  background-color: #1f090e;
  background-position: center bottom;
  background-repeat: no-repeat;
  min-height: 100px;
  color: #fff;
  overflow: hidden;
}
.offer__col {
  position: relative;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  z-index: 1;
}
.offer__col__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
.text__row {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 1rem;
}
.landing h1 {
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.2em;
  font-weight: bold;
  color: #fff;
}
.landing h1 span {
  display: block;
  color: #bf9037;
  font-size: 5.5rem;
  line-height: 1.2em;
}

.landing h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0px;
}
h2 span {
  font-size: 6.5rem;
  line-height: 1.5em;
  display: block;
  color: #bf9037;
}

.h2-ul {
  position: relative;
}
.h2-ul ul {
  color: #bf9037;
  font-size: 1.8rem;
  line-height: 1.8em;
  list-style: none;
}
.h2-ul ul li {
  position: relative;
  padding: 0 0 0 1.5em;
  position: relative;
}
.h2-ul ul li:before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #bf9037;
  left: 0px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.offer .btn {
  margin: 1rem 0 0 2rem;
  line-height: 2.5rem;
  border-radius: 1.25rem !important;
  font-size: 1rem;
  width: 100%;
}
.btn,
.btn:visited,
.btn:focus,
.btn:active {
  position: relative;
  display: block;
  border-radius: 2.25rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #bf9037;
  text-align: center;
  color: #000000;
  max-width: 440px;
  margin: auto;
  padding: 0.75rem 2rem;
  border: 0;
  white-space: pre;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  color: #fff;
  border: 0;
  -webkit-box-shadow: 0 0 30px 0 #bf9037;
  box-shadow: 0 0 30px 0 #bf9037;
}

.btn:before {
  content: "";
  width: 10%;
  height: calc(100% - 4rem);
  border-left: 1px solid #bf9037;
  border-bottom: 1px solid #bf9037;
  position: absolute;
  display: block;
  left: 0px;
  bottom: 2rem;
}
.man {
  position: relative;
}
.man:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #bf9037;
  bottom: -0.5rem;
  left: 0;
  width: 9999px;
}

.art {
  color: #bf9037;
}

.form-group {
  position: relative;
  margin: 1rem auto 1.5rem;
}
.form-group label {
  line-height: 1;
  margin-bottom: 0.5rem;
  display: block;
  font-weight: 600;
  text-align: left;
}
.form .form-control {
  background: #f7f7f7 !important;
  border-radius: 1.25rem;
  -webkit-box-shadow: inset 0 0 0.5rem #a6a6a6;
  box-shadow: inset 0 0 0.5rem #a6a6a6;
  padding: 0.55rem 1rem;
  border: 1px solid #ffffff;
}
.form-control {
  position: relative;
  z-index: 2;
  border: 0px solid rgba(29, 26, 36, 0.2);
  border-bottom: 2px solid transparent;
  border-radius: 5px;
  background: #f5f6f8;
  margin: 0;
  width: 100%;
  padding: 0.8rem 1rem;
  height: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  -webkit-box-shadow: inset 2px 4px 5px 0 rgb(0 0 0 / 10%);
  box-shadow: inset 2px 4px 5px 0 rgb(0 0 0 / 10%);
}

.row_col_text {
  margin: -7.5rem 0 0 0;
}
.row-col-form {
  width: 1408px;
  margin: auto;
}
.row-col-form-submit {
  align-self: center;
}
.offer__col__row_1 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.col1-offer {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.col2-offer {
}
.col3-offer {
}
.presentation {
  overflow: hidden;
}
.quality {
  font-size: 1.49rem;
  position: relative;
  color: #fff;
  padding: 0.7rem 1rem;
  line-height: 1.2em;
  z-index: 1;
}
.quality:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #7d7d7d;
  top: 0;
  left: 0;
  width: 9999px;
  z-index: -1;
}
.row-col-form {
  width: 1408px;
  margin: auto;
}

.blocks {
  margin: 7rem 0;
}

.blocks li {
  position: relative;
  margin: -4rem 0;
}
.blocks-item {
  width: 50%;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.blocks-item p {
  margin: 0 0;
}
.blocks li:nth-child(2n) {
  margin-left: 50%;
}

.blocks li:nth-child(2n) .blocks-item_img:after {
  right: -2.5rem;
}

.blocks li:nth-child(2):before {
  width: 17rem;
}
.blocks-item_img {
  position: relative;
  display: block;
  width: 19rem;
}

.blocks-item_img p {
  margin: 0 0;
}
.blocks-item_img:before,
.blocks-item_img:after {
  content: "";
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: #bf9037;
  border-radius: 50%;
  right: 0;
  top: 53%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.blocks-item_img:after {
  right: -28.5rem;
  width: 1rem;
  height: 1rem;
}
.blocks li:nth-child(3):before {
  top: 39%;
  width: 41rem;
}

li:nth-child(3) .blocks-item_img:before {
  top: 47%;
}

li:nth-child(3) .blocks-item_img:after {
  right: -27rem;
  top: 47%;
}

.blocks li:before {
  position: absolute;
  content: "";
  width: 43rem;
  height: 2px;
  display: block;
  background-color: #bf9037;
  top: 45%;
  left: 4rem;
  z-index: 0;
}

.offer .btn {
  position: unset;
}
.form-page {
  max-width: 350px;
  position: relative;
  align-items: center;
}
.form-page:before {
  content: "";
  position: absolute;
  display: block;
  height: 570px;
  width: 570px;
  background-image: url(../img/1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-position: center right;
  -webkit-animation: rotate-small 10s ease-in-out infinite alternate;
  animation: rotate-small 10s ease-in-out infinite alternate;
}
.form-page:after {
  content: "";
  position: absolute;
  display: block;
  height: 640px;
  width: 640px;
  background-image: url(../img/2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.form_head {
  line-height: 1.2;
  margin: 0px;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.form_desk {
  font-size: 1rem;
  margin: 1rem 0 0 0;
}
.form_body {
}
.form_group {
  position: relative;
  margin: 1rem auto 1.5rem;
}
.form_group label {
  position: relative;
  line-height: 1;
  margin-bottom: 0.5rem;
  display: block;
  font-weight: 600;
  text-align: left;
}

.form-control {
  background: #f7f7f7 !important;
  border-radius: 1.25rem;
  -webkit-box-shadow: inset 0 0 0.5rem #a6a6a6;
  box-shadow: inset 0 0 0.5rem #a6a6a6;
  padding: 0.55rem 1rem;
  border: 1px solid #ffffff;
}
.form-control {
  position: relative;
  z-index: 2;
  border: 0 solid rgba(29, 26, 36, 0.2);
  border-bottom: 2px solid transparent;
  border-radius: 5px;
  background: #f5f6f8;
  margin: 0;
  width: 100%;
  padding: 0.8rem 1rem;
  height: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  -webkit-box-shadow: inset 2px 4px 5px 0 rgb(0 0 0 / 10%);
  box-shadow: inset 2px 4px 5px 0 rgb(0 0 0 / 10%);
}

@media (min-width: 320px) {
  .column-logo {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .column-button {
    display: none !important;
  }
  .logotext {
    display: none;
  }
  .header__container {
    padding: 0 1rem;
  }
  .column-contacts {
    display: none !important;
  }
  .offer__col {
    padding: 0 1rem;
  }
  .offset-xs-2 {
    margin-left: 16.666667%;
  }

  .picture-row {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .offer__col_row_1 h2 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 0 1rem;
  }
}
@media (min-width: 500px) {
  .column-logo {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .header__container {
    padding: 0 2rem;
  }
  .offer__col {
    padding: 0 2rem;
  }
  .text-row {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .picture-row {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    margin-left: 25%;
  }
  .row-col-form-mod {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row-col-form-submit {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 770px) {
  .header__container {
    padding: 0 2.5rem;
  }
  .column-logo {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .column-button {
    display: block !important;
  }
  .offer__col {
    padding: 0 2.5rem;
  }
  .text-row {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row_col_text_mod {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    margin-left: 58.333333%;
  }
  .row-col-form-mod {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .row-col-form-submit {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .column-button {
    padding: 0 10rem 0 0;
  }
}

@media (min-width: 1024px) {
  .header__container {
    padding: 0 3rem;
  }
  .column-logo {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .column-contacts {
    display: block !important;
  }
  .offer__col {
    padding: 0 3rem;
  }
  .col1-offer {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row_col_text_mod {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    margin-left: 41.666667%;
  }
  .row-col-form-mod {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row-col-form-submit {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    margin-left: 8.3333%;
  }
}

@media (min-width: 1300px) {
  .row_col_text_mod {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 50%;
  }
}
@media (min-width: 1536px) {
  .column-logo {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .header__container {
    padding: 0 2.5rem;
  }
  .offer__col {
    max-width: 1472px;
  }
  .header__container {
    max-width: 1472px;
  }
}
@media (max-width: 1407px) {
  h2 span {
    font-size: 6rem;
  }
  .row-col-form-submit {
    width: 1299px;
  }
  .blocks-item p {
    white-space: pre;
    position: relative;
    z-index: 1;
  }
}
@media (max-width: 1281px) and (max-height: 581px) {
  .offer h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .offer h1 span {
    font-size: 3rem;
  }
  .offer {
    background-position: center top;
    min-height: 490px;
    height: calc(100vh - 87px);
    background-size: auto 100%;
  }
  .picture-row {
    margin-top: -3rem;
  }
}
@media (max-width: 1299px) {
  .blocks li {
    margin: 0;
  }
  .blocks li:nth-child(2):before {
    width: 20rem;
  }
  .blocks li:nth-child(2n) {
    margin-left: 30%;
  }
  .row_col_text {
    margin: -5.5rem 0 0 0;
  }
  .blocks-item_img img {
    max-width: 185px;
  }
  .offer h1 span {
    font-size: 3rem;
  }
  .offer h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .offer {
    background-position: center top;
    background-size: auto 100%;
  }
  .offer ul {
    color: #bf9037;
    line-height: 1.2em;
  }
  h2 span {
    font-size: 4rem;
  }
  .row-col-form {
    width: 1024px;
  }
  .blocks-item_img:before {
    right: 6.3rem;
  }
  .blocks-item_img:after {
    right: -14.7rem;
  }
  .blocks li:before {
    right: -1rem;
    width: 29rem;
    top: 43%;
  }
  .blocks li:nth-child(2n) .blocks-item_img:after {
    right: -0.5rem;
  }
  .blocks li:nth-child(2):before {
    width: 15rem;
  }
  .blocks li:nth-child(3n) .blocks-item_img:after {
    right: -12.5rem;
  }
  .blocks li:nth-child(3):before {
    top: 38%;
    width: 27rem;
  }
}

@media (max-width: 1180px) {
  .presentation .row-col-form {
    width: 770px;
  }
  h2 span {
    font-size: 3rem;
  }
  .row-col-text {
    margin: -4rem 0 0 0;
  }
  .quality {
    font-size: 1.2rem;
  }
  .row-col-form li:nth-child(2n) {
    margin-left: 0;
  }
  .presentation li:before {
    display: none;
  }
  .form-page:before,
  .form-page:after {
    display: none;
  }
  .presentation .blocks-item_img:after,
  .presentation .blocks-item_img:before {
    display: none;
  }
  .presenation p {
    font-size: 1rem;
    margin: -2rem 0 2rem;
  }
}
@media (max-width: 1023px) {
  .blocks-item p {
    font-size: 1rem;
    margin: -1rem 0 2rem 0;
    text-align: center;
  }

  .quality,
  .landing h2 {
    font-size: 1.2rem;
  }
  .offer {
    height: auto;
    background-size: auto 100%;
    background-position: bottom center;
  }
  .offer ul {
    font-size: 1.3rem;
    line-height: 1.5em;
  }
  .landing .btn {
    font-size: 1rem;
    max-width: 275px;
    margin-left: 2rem;
  }
}

@media (max-width: 769px) {
  .header{
    display:flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__burger{
    margin:0 2rem 0 0;
  }
  .offer {
    height: auto;
    min-height: auto;
    background-size: auto 100%;
    background-position: top right -7rem;
  }
  .landing h1 {
    font-size: 1.2rem;
  }
  .landing h1 span {
    font-size: 2rem;
  }
  .landing ul {
    font-size: 1rem;
    line-height: 1.2em;
  }
  .column-logo img {
    width: 216px !important;
  }
  .presentation .row-col-form {
    width: 100%;
  }
  .row-col-form-mod {
    margin: 0rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .row-col-form-mod ul {
    margin: 0rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .offer__col {
    margin: 0 1rem;
  }
  .blocks-item {
    width: 100%;
  }
  .form-page {
    width: 100%;
    margin: 0rem auto 0rem;
  }
  .blocks p {
    font-size: 0.8rem;
  }
  .blocks {
    margin: 0rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .blocks-item p {
    font-size: 1rem;
    margin: -1rem 0 2rem 0;
    text-align: center;
  }
}

@media (max-width: 499px) {
  .column-logo {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .offer__col {
    max-width: 270px;
    margin: 0 auto;
  }
  .landing h1 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  .landing .offer {
    background-size: auto 90%;
    background-position: bottom right -7rem;
  }
}
